html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;

}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


img {
	max-width: 100%;
	height: auto;
	vertical-align: top;


}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/*------------------reast end------------------*/

/*-----------------------------FV start-----------------------------*/

#wrap {
	/* 為了隔開body */
	margin: 0 auto;
	background-image: linear-gradient(to top, #fce2fa 0%, #ffffff 20%);
}

.container {
	max-width: 1920px;
	/* 內部元素都會限制在這寬度裡 */
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/* FV */
.fv_section1 {

	background: url(../img/fv_bg.png) no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center top;
	position: relative;
	height: 2000px;
}

.line_up {
	width: 60%;
	height: 143px;
	background: url(../img/line_up.png) no-repeat top;
	background-size: contain;
	margin: 0 auto;
	margin-bottom: 20px;
}

.diamond_bg {
	background: url(../img/diamond_bg.png) no-repeat center top;
	margin: 0 auto;
	width: 100%;
	height: 1172px;
	position: absolute;
	left: 0;
	right: 0;
}

.content {
	max-width: 900PX;
	;
	/*內部元素都會限制在這寬度裡*/
	margin: 0 auto;
	display: flex;
	flex-direction: column;

}

.fv_section1 img {
	width: 45%;
	margin: 0 auto;
	/* border: red 1px solid; */

}

.fv_pd {
	background: url(../img/fv_pd.png) no-repeat center top;
	height: 1400px;
	width: 100%;
	background-size: cover;
	margin: 0 auto;
	z-index: 5;
	position: relative;
	/* border: red 1px solid; */
}

.h2 {
	background: url(../img/h2.png) no-repeat center;
	width: 100%;
	height: 193px;
	background-size: contain;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 390px;
	margin: 0 auto;

}

.offer_section2 {
	margin: 0 auto;
	margin-bottom: 150px;

}

.offer_section2 img {
	margin: 0 auto;
	width: 100%;
	height: auto;
	margin-top: -100px;
	z-index: 10;
}

.buy_btn {
	/* border: red 1px solid; */
	background: url(../img/btn.png) no-repeat center;
	background-size: contain;
	width: 90%;
	height: 140px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	z-index: 10;
	margin-top: -180px;


}

.buy_btn::after {
	content: "";
	position: absolute;
	width: 1300px;
	height: 200px;
	/**白光的宽度，可根据实际调整**/
	background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, .8), transparent);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: searchLights 3s ease-in 1s infinite;
	-o-animation: searchLights 3s ease-in 1s infinite;
	animation: searchLights 3s ease-in 1s infinite;
	/**第一个数字参数控制扫光速度，数字越大越慢**/

}

@keyframes searchLights {
	0% {
		left: -300px;
		top: -300px;
	}

	100% {
		left: -160px;
		top: 500px;
	}
}

.section3 {
	width: 100%;
	/* border: red 1px solid; */
	margin: 0 auto;
	height: auto;
	margin-top: -1px;
}

.img3,
.img7,
.img9,
.img10 {
	width: 100%;
	display: flex;
	position: relative;
	/* border: rgb(38, 0, 255) 1px solid;  */

}

/* gif */
.skin0 {
	background: url(../img/skin0.gif) no-repeat center;
	width: 100%;
	height: 736px;
	margin: 0 auto;
	/* border: red 1px solid; */
	position: absolute;
	left: 0;
	right: 0;
	bottom: 125px;
	background-size: contain;

}

.skin1 {
	background: url(../img/skin1.gif) no-repeat center;
	background-size: contain;
	width: 100%;
	height: 540px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -25px;
}

.skin2 {
	background: url(../img/skin2.gif) no-repeat center;
	background-size: contain;
	width: 100%;
	height: 898px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 370px;

}

.skin3 {
	background: url(../img/skin3.gif) no-repeat center;
	background-size: contain;
	width: 100%;
	height: 760px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
}

.point {
	z-index: 10;
}

.point .point_01 {
	margin-top: -140px;
}

.footer {
	background: url(../img/footer_bg.jpg) no-repeat center top;
	background-size: cover;
	width: 100%;
	height: auto;

}

.voice {
	background: url(../img/voice_bg.jpg) no-repeat center;
	background-size: cover;
	margin: 0 auto;
	width: 100%;
	height: 1000px;
	position: relative;
	/* border: 1px red solid; */
}

.swiper {
	width: 90%;
	height: 700PX;
	/* border: 1px red solid; */
	margin-top: 290px;
	margin: 0 auto;

}

.footer img {
	width: 90%;
	display: block;
	margin: 15px auto 15px;
}

.offer_1,
.offer_2 {
	width: 100%;
	margin: 80px auto;
	display: flex;
	flex-direction: column;
	z-index: 5;
	position: relative;
}

.offer_1 a,
.offer_2 a {
	width: 80%;
	height: 110px;
	background-size: contain;

}

.icon {
	background: url(../img/offer_2_icon.png) no-repeat;
	background-size: contain;
	width: 20%;
	height: 95px;
	z-index: 20;
	/* float: left; */
	position: absolute;
	right: -20px;
	bottom: 210px;

}

#app_download {
	background: url(../img/app_download.jpg) no-repeat center;
	background-size: cover;
	height: 615px;
	position: relative;
	margin-top: 15px;

}

.app_btn {
	background: url(../img/download_btn.png)no-repeat;
	background-size: contain;
	width: 35%;
	height: 140px;
	z-index: 20;
	position: absolute;
	right: 0px;
	bottom: 35px;
}


.app_btn:hover,
.app_btn:focus {

	-webkit-filter: drop-shadow(12px 12px 12px rgb(255, 254, 254));
	filter: drop-shadow(12px 12px 12px rgb(255, 254, 254))
}

/* ======= rwd ======= */
@media screen and (max-width:768px) {

	.content {
		width: 90%;
	}

	.line_up {
		width: 100%;
	}

	.fv_section1 {
		background: url(../img/fv_bg_M.jpg) no-repeat center top;
		width: 100%;
		background-size: cover;
		height: 1570px;
	}

	.diamond_bg {
		background-image: none;
		height: 0;
	}

	.fv_pd {

		height: 1080px;
	}

	.h2 {
		width: 65%;
		bottom: 270px;
	}

	.buy_btn {
		margin-top: -160px;
		height: 100px;
	}

	.skin0 {
		width: 90%;
		bottom: 0;
	}

	.skin1 {
		width: 85%;
		bottom: -75px;
	}

	.skin2 {
		bottom: 180px;
	}

	.skin3 {
		width: 70%;
		height: 665px;
	}

	.voice {
		height: 800px;

	}

	.voice .swiper {
		margin-top: 165px
	}

	.swiper {

		height: 490px;
	}

	#app_download {
		height: 475px;

	}

	.app_btn {
		height: 120px;
	}

	.offer_1,
	.offer_2 {
		width: 100%;
		margin: 60px auto;
	}
	.icon {
		bottom: 140px;
	}

}

@media screen and (max-width:414px) {
	.fv_section1 {
		width: 100%;
		background-size: cover;
		height: 960px;

	}

	.fv_section1 img {
		width: 65%;
	}

	.line_up {
		height: 70px;
	}

	.fv_pd {
		width: 100%;
		height: 610px;
	}

	.h2 {
		bottom: 115px;
	}

	.offer_section2 {
		margin-bottom: 0;
	}

	.buy_btn {
		margin-top: -80px;
		height: 60px;
	}

	.section3 {
		margin-top: 60px;
	}

	.skin0 {

		bottom: -165px;
	}

	.skin1 {

		bottom: -165px;
	}

	.skin2 {
		bottom: -110px;
	}

	.skin3 {
		height: 365px;
	}

	.point .point_01 {
		margin-top: -50px;
	}

	.voice {
		height: 420px;
	}

	.voice .swiper {
		margin-top: 85px;
	}

	.swiper {
		height: 300px;
	}

	.offer_1,
	.offer_2 {
		margin: 0 auto;
	}

	.offer_1 a,
	.offer_2 a {
		height: 50px;
		bottom: 15px;
	}
	.footer img {
		margin: 30px auto 30px;
	}

	#app_download {
		height: 265px;

	}

	.icon {
		background-size: contain;
		width: 17%;
		height: 70px;
		position: absolute;
		bottom: 70px;
		/* left: 0; */
		right: 0px;
	}
}



@media screen and (max-width:320px) {
	.line_up {
		height: 40px;
	}

	.fv_section1 {
		height: 680px;

	}

	.fv_pd {
		width: 100%;
		height: 470px;
	}

	.h2 {
		bottom: 75px;
	}


	.offer_section2 img {
		margin-top: -20px;
	}

	.buy_btn {
		margin-top: -60px;
		height: 50px;
	}

	.section3 {
		margin-top: 40px;
	}

	.skin0 {

		bottom: -205px;
	}

	.skin1 {

		bottom: -190px;
	}

	.skin2 {
		bottom: -185px;
	}

	.skin3 {
		height: 285px;
	}

	.voice {
		height: 320px;
	}

	.voice .swiper {
		margin-top: 75px;
	}

	.swiper {
		height: 200px;
	}
	.offer_1 a,
	.offer_2 a {
		height: 35px;
		bottom: 20px;
	}
	.icon {
		bottom: 35px;
	}
	#app_download {
		height: 205px;
	}
	.footer img {
		margin: 25px auto 25px;
	}
	.app_btn {
		height: 55px;
		bottom: 10px;
	}

}